body{
    color: white;
    background: black ;
    margin: 0px;

}

header{ 
    border-bottom: solid 1px rgb(91, 15, 93);
        padding: 20px;
        font-size: 32px;
        color: rgb(131, 59, 133)

}
